<div class="container py-3" id="recent-posts">
    {{ if .Site.Params.footer.recentPosts | default true }}
    <div class="h3 text-center text-secondary py-3">Blog</div>
    <div class="row justify-content-center">
        {{ range ( where .Site.RegularPages "Type" "blogs" | first 3 ) }}
        <div class="col-lg-4 col-md-6 pt-2">
            <div class="card h-100">
                <div class="card-body bg-transparent p-3 shadow-sm">
                    <a href="{{ .RelPermalink }}" class="primary-font card-title">
                        <h5 class="card-title bg-transparent" title="{{ .Title }}">{{ .Title | truncate 25 }}</h5>
                    </a>
                    <div class="card-text secondary-font">
                        <p>{{ .Summary | truncate 300}}</p>
                    </div>
                </div>
                <div class="mt-auto card-footer">
                    <span class="float-start">{{ .Date.Format "January 2, 2006" }}</span>
                    <a href="{{ .RelPermalink }}" class="float-end btn btn-outline-info btn-sm">Read</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>