{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="/css/index.css" media="all">
<link rel="stylesheet" href="/css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="/fontawesome-5/all-5.15.4.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/experience.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/keyword.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}